---
title: Welcome to Middleman
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "logo.svg" %>
  </div>
  <h1>Start setting up</h1>
  <p class="doc">
    <%= link_to "Get Started", "list" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
